@font-face {
	font-family: 'Neue Montreal';
	src: url("../assets/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("../assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
	font-weight: 700;
}

/**/

html {
	overflow-x: hidden;
	/*scroll-behavior: smooth;*/
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: currentColor;
	border-color: currentColor;
	width: 99%;
	margin: auto;
	font-family: 'Neue Montreal', sans-serif;
	font-display: swap;
	filter: invert();
	line-height: 1.5;
}

h1 {
	font-size: x-large;
}


h2 {
	margin: .3rem 0;
	font-size: xx-large;
}

h5 {
	margin-top: 0;
}

a, button {
	color: inherit;
	transition: .2s;
	text-decoration: none;
}

a:hover, button:hover {
	cursor: pointer;
	opacity: .6;
}

.text a {
	text-decoration: underline;
}

a img { 
	transition: .2s;
}

a:hover img { 
	filter: invert();
}

p {
	font-size: 15px;
}

b {
	font-size: 16px;
}


::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Grid */

.grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: dense;
}

.grid-layout.condensed-grid {
	grid-auto-rows: minmax(25px, auto);
}

.condensed-grid--secondary {
	margin-top: 0;
}

.condensed-grid .grid-item {
	padding: 1rem;
}

.text {
	padding: 1rem;
}

.collage {
	filter: invert();
}

.grid-item {
	/* padding: 1rem; */
	position: relative;
	word-wrap: break-word;
	border: 1px dotted;
	margin: 8px;
	border-radius: 3px;
}

.overview p {
	padding-top: 1px;
	margin: 0;
}


.grid-item img,
.grid-item video {
	object-fit: cover;
	width: 100%;
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	filter: invert();
	/* mix-blend-mode: exclusion; */
}

a:hover img {
	filter: invert(0);
}


.large-grid .grid-item img {
	height: 100%;
	border-radius: 2px;
	border-bottom-left-radius: 2px;
	filter: invert();
	border-bottom-right-radius: 2px;
}

.grid-item--link {
	display: flex;
	align-items: center;
}

.span-2 {
	grid-column-end: span 2;
	grid-row-end: span 1;
}

.span-3 {
	grid-column-end: span 3;
	grid-row-end: span 1;
}

.span-all {
	grid-column-start: 2;
	grid-column-end: -2;
	grid-row-end: span 1;
}

.grid-crumbs+.grid-crumbs::before {
	content: ' · ';
	margin: 0 2px;
}

.logo {
	margin: 0;
}

.home-button {
	display: block;
	margin-left: 10px;
	font-size: x-large;
}

button {
	background-color: transparent;
	border: none;
	color: currentColor;
	font-size: inherit;
}

.selected {
	font-weight: bold;
	text-decoration: underline;

}

.menu-link {
	text-decoration: underline;
}

.form {
	display: flex;
	gap: 10px;
	vertical-align: center;
}

.email {
  /* background: currentColor; */
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #cd5c5c;
  color: white;
  width: 90%;
  filter: invert();
}

.thanks-bubble {
	position: fixed;
	top: 25px;
	right: 25px;
	background-color: rgba(0, 0, 0, .9);
	color: white;
	padding: 10px 20px;
	z-index: 1000000;
	border-radius: 20px;
	animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
	0% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; }
  }

  /* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media only screen and (max-width: 800px) {

	.grid-item {
		grid-column-end: span 3;
	}
	.span-all {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-end: span 1;
	}
	.hidden-mobile {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.span-3 {
		grid-column-end: span 10;
	}
	.span-2 {
		grid-column-end: span 10;
	}
	.grid-item {
		grid-column-end: span 10;
	}
	.blog {
		max-width: 100%;
	}
}

.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 10px 20px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	z-index: 9999;
  }
  .cookie-banner p {
	margin: 0;
  }
  .cookie-banner button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }